
  h1{
    color: rgb(255, 255, 255);
    background-color: rgb(0,0,255);
    margin-left: 30%;
    margin-top: auto;
    margin-bottom: auto;
    width: 15.5em;
    border: 0.1em inset rgb(50, 200, 245);
    text-align: center;
    }

 button{
    color:white;
    background-color: rgb(0,0,255);
    border: 0.2em inset rgb(50, 200, 245);
    width: 6em;
    height: 2.8em;
    text-align: center;
    font-size: 1.1em; 
    margin-right: 50%;
    margin-left: 2.5em;
    margin-top: 3em;
    margin-bottom: auto;
    background-attachment: scroll;
    }
 
 body{
    background-image: url("Imagen de fondo.jpg");
    background-repeat: no-repeat;
    background-position: relative;
    background-position-y: 5.9em;
    background-position-x: 16em;
    background-size: 60em 38em;
    background-attachment: scroll; 
 }
.S{
   transition-property: font-size;
   position: relative;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.1em;
   margin-right: 100%;
}
.S:hover {
   transition-property: font-size;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.3em;
}
.U { 
   transition-property: font-size;
   position: relative;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.1em;
   margin-right: 100%;
}
.U:hover{
   transition-property: font-size;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.3em;
}
.TyC{
   transition-property: font-size;
   position: relative;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.1em;
   margin-right: 100%;
}
.TyC:hover{
   transition-property: font-size;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.3em;
}
.L{
   transition-property: font-size;
   position: relative;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.1em;
   margin-right: 100%;
}
.L:hover{
   transition-property: font-size;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.3em;
}
.C{
   transition-property: font-size;
   position: relative;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.1em;
   margin-right: 100%;
}
.C:hover{
   transition-property: font-size;
   transition-duration: 5ms;
   transition-delay: 1ms;
   font-size: 1.3em;
}
